<p class="fs-18 font-bold pt-4">
  <a routerlink="/" class="text-decoration-none color-black" href="">Trang chủ
  </a> > Quản lý tài khoản
</p>

<div class="card mt-2r py-2 px-3 border-0 mb-3">
  <div class="d-flex">
    <p class="fw-bold mb-2 me-auto">Thông tin cá nhân </p>

    <a class="color-active text-decoration-none">Chỉnh sửa</a>
  </div>
  <hr class="mt-0">

  <form style="width: 960px">
    <div class="container rounded bg-white mb-2">
      <div class="row">

          <div class="col-md-3 border-right">
              <div class="d-flex flex-column align-items-center">
                <img class="rounded-circle" width="200px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span> </span></div>
          </div>

          <div class="col-md-5 border-right">
              <div class="p-3 py-2 Profile-form">

                  <div class="form-group row py-0 profile-detail" style="width: 500px">
                    <label class="col-4 col-form-label"><b>Mã khách hàng:</b></label>
                    <div class="col-8">
                      <input type="text" class="form-control" value="">
                    </div>
                  </div>

                  <div class="form-group row py-1" style="width: 500px">
                    <label class="col-4 col-form-label"><b>Họ và Tên:</b></label>
                    <div class="col-8">
                      <input type="text" class="form-control" value="">
                    </div>
                  </div>

                  <div class="form-group row py-1" style="width: 500px">
                    <label class="col-4 col-form-label"><b>Số điện thoại:</b></label>
                    <div class="col-8">
                      <input type="text" class="form-control" value="">
                    </div>
                  </div>

                  <div class="form-group row py-1" style="width: 500px">
                    <label class="col-4 col-form-label"><b>Email:</b></label>
                    <div class="col-8">
                      <input type="text" class="form-control" value="">
                    </div>
                  </div>

                  <hr class="hr-1">

                  <div class="form-group row py-1" style="width: 500px">
                    <label class="col-4 col-form-label"><b>CMND/CCCD:</b></label>
                    <div class="col-8">
                      <input type="text" class="form-control" value="">
                    </div>
                  </div>

                  <div class="form-group row py-1" style="width: 500px">
                    <label class="col-4 col-form-label"><b>Cấp bởi:</b></label>
                    <div class="col-8">
                      <input type="text" class="form-control" value="">
                    </div>
                  </div>

                  <div class="form-group row py-1" style="width: 500px">
                    <label class="col-4 col-form-label"><b>Cấp ngày:</b></label>
                    <div class="col-8">
                      <input type="text" class="form-control" value="">
                    </div>
                  </div>

                  <hr class="hr-1">

                  <div class="form-group row py-1" style="width: 500px">
                    <label class="col-4 col-form-label"><b>Ngày sinh:</b></label>
                    <div class="col-8">
                      <input type="text" class="form-control" value="">
                    </div>
                  </div>

                  <div class="form-group row py-1" style="width: 500px">
                    <label class="col-4 col-form-label"><b>Giới tính:</b></label>
                    <div class="col-8">
                      <input type="text" class="form-control" value="">
                    </div>
                  </div>

                  <div class="form-group row py-1" style="width: 500px">
                    <label class="col-4 col-form-label"><b>Quốc gia:</b></label>
                    <div class="col-8">
                      <select class="form-select" style="width: 400px">
                        <option selected>/</option>
                        <option>Việt Nam</option>
                        <option>Trung Quốc</option>
                        <option>Nhật bản</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group row py-1" style="width: 500px">
                    <label class="col-4 col-form-label"><b>Tỉnh/ TP:</b></label>
                    <div class="col-8">
                      <select class="form-select" style="width: 400px">
                        <option selected>/</option>
                        <option>Đà Nẵng</option>
                        <option>Hồ Chí Minh</option>
                        <option>Hà Nội</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group row py-1" style="width: 500px">
                    <label class="col-4 col-form-label"><b>Quận/ huyện:</b></label>
                    <div class="col-8">
                      <select class="form-select" style="width: 400px">
                        <option selected>/</option>
                        <option>Quận 1</option>
                        <option>Quận 2</option>
                        <option>Quận 3</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group row py-1" style="width: 500px">
                    <label class="col-4 col-form-label"><b>Hộ khẩu thường trú:</b></label>
                    <div class="col-8">
                      <input type="text" class="form-control" value="">
                    </div>
                  </div>

                  <div class="form-group row py-1" style="width: 500px">
                    <label class="col-4 col-form-label"><b>Chổ ở hiện tại:</b></label>
                    <div class="col-8">
                      <input type="text" class="form-control" value="">
                    </div>
                  </div>

                  <div class="form-group row py-1" style="width: 500px">
                    <label class="col-4 col-form-label"><b>Ngày kích hoạch:</b></label>
                    <div class="col-8">
                      <input type="text" class="form-control" value="">
                    </div>
                  </div>
              </div>
          </div>

          <div class="d-flex">
            <div class="ms-auto align-items-center d-flex mt-3 pe-xl-5 pe-lg-3 pe-md-0 pe-sm-0">
            <button class="btn btn-circle btn-cbp text-uppercase" tabindex="0">
              Đổi mật khẩu</button>
            </div>
          </div>

      </div>
    </div>
  </form>

</div>

