.account-container {
  background-color: #f1f1f1;
  min-height: calc(100% - 85px);
  height: auto;

  .page-menu {
    min-width: 15rem;
  }

  .page-menu ul {
    list-style: none;
    padding-left: 0;
  }

}

.container {
  width: 100%;
  padding-right: var(--bs-gutter-x,.75rem);
  padding-left: var(--bs-gutter-x,.75rem);
  margin-right: auto;
  margin-left: auto;
}

.link-active {
  position: relative;
  color: #006ec0!important;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: initial;
  border-radius: 0.25rem;
}

.btn-circle {
  border-radius: 2rem!important;
}

.btn-cbp {
  border: none!important;
  color: #fff!important;
  background-image: linear-gradient(90deg,#c16397,#4539a3);
  padding: 0.4rem 2rem!important;
}

.color-active {
  color: #074494;
  fill: #074494;
}

.border-0 {
  border: 0!important;
}

.font-bold {
  font-weight: 500;
}

.fs-18 {
  font-size: 1.075rem!important;
}

.mt-0 {
  margin-top: 0!important;
}

.mt-2r {
  margin-top: 2rem;
}

.mb-2 {
  margin-bottom: 0.5rem!important;
}

.mb-3 {
  margin-bottom: 1rem!important;
}

.pt-4 {
  padding-top: 1.5rem!important;
}

.pb-3 {
  padding-bottom: 1rem!important;
}

.py-2 {
  padding-top: 0.5rem!important;
  padding-bottom: 0.5rem!important;
}
.px-3 {
  padding-right: 1rem!important;
  padding-left: 1rem!important;
}

.me-auto {
  margin-right: auto!important;
}

.fw-bold {
  font-weight: 700!important;
}

.d-flex {
  display: flex!important;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

a {
  color: #074494;
  text-decoration: none;
  background-color: initial;
  outline: none;
  cursor: pointer;
  transition: color .3s;
  touch-action: manipulation;
  display: inline-block;
}

input {
  height: 33px;
  width: 400px;
}

* {
  font-family: Work Sans,sans-serif;
}

.color-black {
  color: #000;
}

.hr-1 {
  width: 564px
}


.profile-form {
  word-wrap: normal;
}


