<div class="account-container">
  <div class="container pb-3 d-flex">

    <div class="page-menu mt-5">
      <ul class="mt-2r">

        <li>
          <a [routerLink]="['/account-management']" routerLinkActive="link-active" class="color-black" >
          <svg xmlns="http://www.w3.org/2000/svg" width="23.425" height="23.425" viewBox="0 0 23.425 23.425">
            <path id="ic_account_circle_24px" d="M13.713,2A11.713,11.713,0,1,0,25.425,13.713,11.717,11.717,0,0,0,13.713,2Zm0,3.514A3.514,3.514,0,1,1,10.2,9.028,3.509,3.509,0,0,1,13.713,5.514Zm0,16.632a8.434,8.434,0,0,1-7.028-3.771c.035-2.331,4.685-3.608,7.028-3.608s6.992,1.277,7.028,3.608A8.434,8.434,0,0,1,13.713,22.146Z" transform="translate(-2 -2)" fill="#074494"/>
          </svg>
           Quản lý tài khoản
          </a>
        </li>

      </ul>
    </div>

    <div class="font-content">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>
